@model TaskMasterWeb.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

    </dl>
</div>

<div class="mgt-100">
    <h1 class="fw-semibold red">Client Contacts</h1>
    <hr/>


        <div class="mgt-50 d-flex gap-5">
            @foreach (var contact in Model.ClientContacts)
            {
                <div class="col-md-4 card-custom">
                    <h4 class="fw-semibold text-black pt-2 mgb-20">@contact.FirstName @contact.LastName</h4>
                    <p class="fw-semibold red">Email: <span class="text-black fw-normal">@contact.EmailAddress</span></p>
                    <p class="fw-semibold red">Contact Number: <span class="text-black fw-normal">@contact.ContactNumber</span></p>
                </div>
            }
        </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
