@model TaskMasterWeb.ViewModels.Client.ClientDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="d-flex align-items-center col-sm-2 mgb-20">
        <img class="svg-label-image svg-color-green mgr-10" src="@Url.Content("~/Content/Images/arrow-left-circle.svg")" />
        @Html.ActionLink("Clients", "Index", new { }, htmlAttributes: new { @class = "text-black"})
    </div>
    
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bold red title-text">Details</h1>
        @Html.ActionLink("Edit Contact", "Edit", new { id = Model.ClientID }, htmlAttributes: new { @class = "btn btn-primary sml-btn text-light fw-normal", @role = "button" })
    </div>
    <hr />

    <div class="card-custom-no-flex">
        <h1 class="fw-semibold text-black pt-2 mgb-20">@Html.DisplayFor(model => model.CompanyName)</h1>

        <div class="d-flex align-items-center mgb-20">
            <div class="d-flex align-items-center col-sm-2">
                <img class="svg-label-image svg-color-red mgr-10" src="@Url.Content("~/Content/Images/envelope-at.svg")" />
                <p class="fw-semibold  mb-0">Primary Email: </p>
            </div>

            <p class="text-black fw-normal col-md-1 mb-0">@Html.DisplayFor(model => model.EmailAddress)</p>
        </div>

        <div class="d-flex align-items-center mgb-20">
            <div class="d-flex align-items-center col-sm-2">
                <img class="svg-label-image svg-color-red mgr-10" src="@Url.Content("~/Content/Images/telephone.svg")" />
                <p class="fw-semibold  mb-0">Primary Phone: </p>
            </div>

            <p class="text-black fw-normal mb-0">@Html.DisplayFor(model => model.ContactNumber)</p>
        </div>

        <div class="d-flex align-items-center mgb-20">
            <div class="d-flex align-items-center col-sm-2">
                <img class="svg-label-image-sm svg-color-red mgr-15" src="@Url.Content("~/Content/Images/circle.svg")" />
                <p class="fw-semibold  mb-0">StreetAddress: </p>
            </div>

            <p class="text-black fw-normal mb-0">@Html.DisplayFor(model => model.StreetAddress)</p>
        </div>

        <div class="d-flex align-items-center mgb-20">
            <div class="d-flex align-items-center col-sm-2">
                <img class="svg-label-image-sm svg-color-red mgr-15" src="@Url.Content("~/Content/Images/circle.svg")" />
                <p class="fw-semibold  mb-0">Suburb: </p>
            </div>

            <p class="text-black fw-normal mb-0">@Html.DisplayFor(model => model.Suburb)</p>
        </div>

        <div class="d-flex align-items-center mgb-20">
            <div class="d-flex align-items-center col-sm-2">
                <img class="svg-label-image-sm svg-color-red mgr-15" src="@Url.Content("~/Content/Images/circle.svg")" />
                <p class="fw-semibold  mb-0">City: </p>
            </div>

            <p class="text-black fw-normal mb-0">@Html.DisplayFor(model => model.City)</p>
        </div>

        <div class="d-flex align-items-center mgb-20">
            <div class="d-flex align-items-center col-sm-2">
                <img class="svg-label-image-sm svg-color-red mgr-15" src="@Url.Content("~/Content/Images/circle.svg")" />
                <p class="fw-semibold  mb-0">Country: </p>
            </div>

            <p class="text-black fw-normal mb-0">@Html.DisplayFor(model => model.Country)</p>
        </div>
    </div>
</div>


<div class="mgt-50">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bold red title-text">Projects</h1>
        @Html.ActionLink("Add Project", "Create", "Projects", new { }, htmlAttributes: new { @class = "btn btn-primary sml-btn text-light fw-normal", @role = "button" })
    </div>
    <hr />

    <div class="card-custom-no-flex">
        <div class="d-flex gap-5 mgl-20">
            @foreach (var stat in Model.ProjectStatusCount)
            {
                <div class="d-flex align-items-center">
                    <h3 class="fw-semibold green pt-2 mgr-10">@stat.ProjectCount</h3>
                    <p class="mb-0">@stat.StatusValue</p>
                </div>
            }
        </div>

        <table class="table table-hover">
            <thead>
                <tr class="red h5">
                    <th class="pdt-20 pdl-20">
                        @Html.DisplayNameFor(model => model.Projects)
                    </th>
                    <th class="pdt-20">
                        Project Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projects)
                {
                    <tr class="table-hover">
                        <td class="pdl-20 pdt-15 pdb-15 text-black">
                            @Html.ActionLink(item.ProjectName, "Details", "Projects", new { id = item.ProjectID }, new { @class = "text-black fw-semibold" })
                        </td>
                        <td class="pdt-15 pdb-15">
                            @Html.DisplayFor(modelItem => item.ProjectStatus.StatusValue)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="mgt-50">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bold red title-text">Client Contacts</h1>
        @Html.ActionLink("Add Contact", "Create", "ClientContacts", htmlAttributes: new { @class = "btn btn-primary sml-btn text-light fw-normal", @role = "button" })
    </div>
    <hr />

    <div class="d-flex flex-wrap gap-2">
        @foreach (var contact in Model.ClientContacts)
        {
        <div class="col-md-4 card-custom-no-flex">
            <div class="d-flex justify-content-between align-items-center  mgb-20">
                <h4 class="fw-semibold text-black pt-2">@contact.FirstName @contact.LastName</h4>
                @Html.ActionLink("Edit", "Edit", "ClientContacts", new { id = contact.ContactID }, htmlAttributes: new { @class = "text-black" })
            </div>
            <div class="d-flex align-items-center mgb-20">
                <div class="d-flex align-items-center col-sm-6">
                    <img class="svg-label-image svg-color-red mgr-10" src="@Url.Content("~/Content/Images/envelope-at.svg")" />
                    <p class="fw-semibold  mb-0">Email: </p>
                </div>

                <p class="text-black fw-normal col-md-1 mb-0">@contact.EmailAddress</p>
            </div>

            <div class="d-flex align-items-center mgb-20">
                <div class="d-flex align-items-center col-sm-6">
                    <img class="svg-label-image svg-color-red mgr-10" src="@Url.Content("~/Content/Images/telephone.svg")" />
                    <p class="fw-semibold  mb-0">Contact Number: </p>
                </div>

                <p class="text-black fw-normal col-md-1 mb-0">@contact.ContactNumber</p>
            </div>
        </div>
        }
    </div>
</div>
