@model TaskMasterWeb.Models.ClientContact

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "ClientContacts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-4 client-contact-card bg-dark-gray-new">
        <div>
            <h4 class="fw-semibold black-new pt-2">New Client</h4>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="d-flex flex-column justify-content-evenly">
            <div class="form-group mgb-15">
                @*@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label light-gray-new" })*@
                <div class="d-flex align-items-center transistion-purple">
                    <img class="svg-label-image-sm svg-color-red mgr-5 col-sm-1" src="@Url.Content("~/Content/Images/circle-fill.svg")" />
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "custom-input-purple", placeholder = "First name..." } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mgb-15">
                @*@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label light-gray-new" })*@
                <div class="d-flex align-items-center transistion-purple">
                    <img class="svg-label-image-sm svg-color-red mgr-5 col-sm-1" src="@Url.Content("~/Content/Images/circle-fill.svg")" />
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "custom-input-purple", placeholder = "Last name..." } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mgb-15">
                @*@Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label light-gray-new" })*@
                <div class="d-flex align-items-center transistion-purple">
                    <img class="svg-label-image svg-color-red mgr-5 col-sm-1" src="@Url.Content("~/Content/Images/envelope-at.svg")" />
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "custom-input-purple", placeholder = "Email Address..." } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mgb-15">
                @*@Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label light-gray-new" })*@
                <div class="d-flex align-items-center transistion-purple">
                    <img class="svg-label-image svg-color-red mgr-5 col-sm-1" src="@Url.Content("~/Content/Images/telephone.svg")" />
                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "custom-input-purple", placeholder = "Contact number..." } })
                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <input value="Save" type="submit" class="primary-button-purple" style="width: 100%;" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}