@model IEnumerable<TaskMasterWeb.Models.Staff>

@{
    ViewBag.Title = "Index";
}


<h1 class="fw-bold red title-text">Your Staff</h1>
<div class="d-flex flex-wrap gap-4 mgt-20">
    <div id="addEmployeeDiv" class="add-card-small card-content-3d" onclick="showAddEmployeeForm();">

        <div class="card-front d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center translateZ-50">
                <img class="svg-card-button-lg mgb-30" src="@Url.Content("~/Content/Images/plus-circle.svg")" alt="Add Client" />
                <h4 class="fw-semibold red pt-2">Add Employee</h4>
            </div>
        </div>

        <div class="card-back">
            @Html.Partial("CreateEmployeePartial", new TaskMasterWeb.ViewModels.Employees.EmployeeCreateViewModel())
        </div>

    </div>



    @foreach (var item in Model)
    {
        <div class="col-md-4 client-display-card">
            <a href="@Url.Action("Details", "Staff", new { id = item.StaffID })" style="text-decoration: none;">
                <div>
                    <div class="d-flex justify-content-center mgt-30 img-container">
                        <img class="profile-image" src="@Url.Content("~/Content/Images/profileimage.jpg")" />
                    </div>

                    <div class="d-flex justify-content-center mgb-30 mgt-30">
                        <h4 class="fw-semibold black-new pt-2" style="text-decoration: none;">@item.FirstName @item.LastName</h4>
                    </div>
                    <div class="d-flex align-items-center mgb-5">
                        <p class="black-new fw-normal mgb-5">@item.StaffRole.RoleName</p>
                    </div>

                    <hr class="mgt-0 mgb-10 border-red" />

                    <div class="d-flex align-items-center mgb-30">
                        <h3 class="fw-semibold teal-new pt-2 mgr-10">@item.AssignedProjects.Count()</h3>
                        <p class="mb-0 black-new">Active Projects</p>
                    </div>

                    <div class="d-flex justify-content-end m-auto align-items-center">
                        @Html.ActionLink("View", "Details", new { id = item.StaffID }, htmlAttributes: new { @class = " mgr-10 red" })
                        <img class="svg-label-image svg-color-red" src="@Url.Content("~/Content/Images/arrow-right.svg")" />
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@{
    <script>
        function showAddEmployeeForm() {
            // hide the add Employee button and show the form
            document.getElementById("addEmployeeDiv").classList.add("rotate");
        }
    </script>
}