@model TaskMasterWeb.ViewModels.ProjectCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h1 class="fw-bold red title-text">Create Project</h1>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="mgt-20 form-horizontal card-custom-no-flex">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mgl-20 mgt-20">
            <div class="form-group mgb-10">
                <div class="d-flex align-items-center ">
                    <img class="svg-label-image svg-color-red mgr-5" src="@Url.Content("~/Content/Images/bullseye.svg")" />
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { placeholder = "Project Name...", @class = "custom-input-white", style = "width: 280px;" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mgb-10">
                <div class="d-flex align-items-center ">
                    <img class="svg-label-image svg-color-red mgr-5" src="@Url.Content("~/Content/Images/person-add.svg")" />
                    @Html.DropDownListFor(model => model.SelectedClientId, Model.ClientSelectList, htmlAttributes: new { @class = "custom-input-white" })
                    @Html.ValidationMessageFor(model => model.ClientSelectList, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mgb-10">
                <div class="d-flex align-items-center ">
                    <img class="svg-label-image svg-color-red mgr-5" src="@Url.Content("~/Content/Images/person-add.svg")" />
                    @Html.DropDownListFor(model => model.SelectedStaffIds, Model.StaffSelectList, htmlAttributes: new { @class = "custom-input-white" })
                    @Html.ValidationMessageFor(model => model.StaffSelectList, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mgb-10">
                <div class="d-flex align-items-center ">
                    <img class="svg-label-image svg-color-red mgr-5" src="@Url.Content("~/Content/Images/gear.svg")" />
                    @Html.DropDownListFor(model => model.SelectedStatusId, Model.StatusSelectList, htmlAttributes: new { @class = "custom-input-white" })
                    @Html.ValidationMessageFor(model => model.StatusSelectList, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-flex justify-content-start mgt-50">
                <div class="" style="width:250px">
                    <input type="submit" value="Create" class="btn" style="width:250px" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
