@model TaskMasterWeb.Models.ProjectFIeldsType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectFIeldsType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldTypeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldTypeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectField.FieldValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectField.FieldValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FieldTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
